
<div style="margin-bottom: 10vh;" id='messages'>
  <% @messages_by_day.each do |date, messages| %>
    <div class="date-msg">
      <p><%= date %></p>
    </div>
    <% messages.each do |message| %>
      <%= render 'message', message: message %>
      <% end %>
  <% end %>
</div>




<div class="input_msg text-center fixed-bottom" style="padding-top: 16px;">
  <%= render 'form', message: @message, match: @match %>
</div>

