// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Define fonts for body and headers
$body-font: "Open Sans", "Helvetica", "sans-serif";
$headers-font: "Raleway", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

h1 {
  font-size: 100px !important;
  font-family: Montserrat;
  font-style: bold;
}


// WORK WITH TA TO REFACTOR
// LOGO LARGER


// LOGO SMALL (NAVBAR)
h2 {
  font-size: 32px;
  font-family: Montserrat;
  font-style: bold;
}

// Sub-Header Bold
h3 {
  font-size: 24px;
  font-family: Montserrat;
  font-style: bold;
}

// Category Headers Regular
category {
  font-size: 24px;
  font-family: Montserrat;
}


h4 {
  font-size: 18px;
  font-family: Montserrat;
}

h5 {
  font-size: 18px;
  font-family: Montserrat;
}

//
p {
  font-size: 16px;
}
