// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
@import "colors";

// Define fonts for body and headers
$body-font: "Montserrat", "Open Sans", "sans-serif";
$headers-font: "Montserrat", "Open Sans", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// LOGO LARGER
h1 {
  font-size: 100px !important;
  font-weight: bold !important;
  color: $hivie-pink;
}

// LOGO SMALL (NAVBAR)
h2 {
  font-size: 32px !important;
  font-weight: bold !important;
  color: $hivie-pink;
}

// REGISTER HEADERS BLUE
h3.blue-profile-header {
  font-size: 32px !important;
  font-weight: bold !important;
  color: $hivie-blue;
  margin-top: 3px;
  margin-bottom: 13px;
  text-align: center;
}

// Sub-Header Bold
h3 {
  font-size: 24px !important;
  font-weight: bold !important;
  color: $hivie-blue;
}

// Convo Alias, Message Text,
h4 {
  font-size: 18px !important;
}

// Matches Alias, Message Preview,
h5 {
  font-size: 16px !important;
}

// Smallest Text, Message Navbar Alias Name, Message Date, *Astricts
p {
  font-size: 12px !important;
}




