// Import Google fonts

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Source+Sans+Pro:400,600,700&display=swap);


@import "colors";

// Define fonts for body and headers
$body-font: "Source Sans Pro", "Open Sans", "sans-serif";
$headers-font: "Montserrat", "Open Sans", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// LOGO LARGER
h1 {
  font-size: 100px !important;
  font-weight: bold !important;
  font-family: Montserrat;
  color: $hivie-pink;
}

// LOGO SMALL (NAVBAR)
h2 {
  font-size: 26px !important;
  font-weight: bold !important;
  font-family: Montserrat;
  color: $hivie-logo;
}

// REGISTER HEADERS BLUE
h3.profile-header {
  font-size: 32px !important;
  font-weight: bold !important;
  color: $hivie-purple;
  margin-top: 3px;
  margin-bottom: 13px;
  text-align: center;
}

// Sub-Header Bold
h3 {
  font-size: 24px !important;
  font-weight: bold !important;
  color: $hivie-purple;
}

// Convo Alias, Message Text,
h4 {
  font-size: 18px !important;
}

.form-inputs {
  font-size: 20px !important;
  font-weight: bold !important;
  color: $hivie-purple;
  font-family: Source Sans Pro;
}

// match page
.alias-font {
  font-size: 24px !important;
  font-weight: bold !important;
  color: white;
  font-family: Montserrat;
}

.geo-location-font {
  font-size: 20px !important;
  color: white;
  font-family: Montserrat;
}

.bio-font {
  font-size: 20px !important;
  color: $hivie-purple;
  font-family: Source Sans Pro;
}

// Matches Alias, Message Preview,
h5 {
  font-size: 16px !important;
}

// Smallest Text, Message Navbar Alias Name, Message Date, *Astricts
p {
  font-size: 12px !important;
}

h3.black-profile-header {
  font-size: 32px !important;
  font-weight: bold !important;
  color: $hivie-purple;
}

#basic-texarea {
  font-size: 1.5rem;
}




