

<h4 class="pill btn" id="pill-ghost">Golf</h4>
<h4 class="pill btn" id="pill-select">Golf</h4>
<h4 class="pill btn" id="pill-select">Surfing</h4>
<h4 class="pill btn" id="pill-select">Surfing</h4>
<h4 class="pill btn" id="pill-select">Swimming</h4>

<a href="#" class="btn btn-pink">Register</a>
<a href="#" class="btn btn-transparent">Login</a>


<div class="form-group">
    <input type="text" class="form-control" id="email" placeholder="Email" required>
    <input type="password" class="form-control mt-2" id="password" placeholder="Password" required>
</div>



<!-- <label for="email">Name</label> -->


<!-- Avatar class -->
<img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
<img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
<img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
<img class="avatar-small" alt="avatar-small" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
<!-- <img class="avatar-xxs" > -->


