<h3 class="text-center mb-5 mt-5">It's a match!!</h3>

<div class="d-flex justify-content-center">
<%= cl_image_tag @match.user_one.photo, crop: :fill, class: "avatar-x-large mr-5" %>
<%= cl_image_tag @match.user_two.photo, crop: :fill, class: "avatar-x-large" %>
</div>

<h3 class="text-center mb-5 mt-5">Let's chat, and maybe more...</h3>
  <%= link_to 'Let\'s chat', match_messages_path(@match), class: "btn button btn-pink" %>
<div class="text-center">
  <% if @next_user %>
    <%= link_to 'X', user_path(@next_user), class: "mt-5 btn btn-rounded btn-pink" %>
  <% end %>
</div>
