.avatar {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: #132D7E 1px solid;
  // avatar blue, need to set status to community
}
.avatar-large {
  width: 103px;
  height: 100px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: #EC5A73 1px solid;
  // avatar pink, need to set status to match
}

.avatar-small {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.avatar-x-large {
  width: 200px;
  height: 200px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border-radius: 50%;
}

// .avatar-xxs {
  // width: 20px;
  // height: 20px;
  // border-radius: 50px;
  // background-color: #EC5A73;
  // box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  // border: #EC5A73 1px solid;
// Finish this part with photo uploader


