.btn {
  height: 45px;
  width: 100%;
  border-radius: 8px;
  font-size: 24px;
}

.btn-pink {
  background-color: #EC5A73;
  color: white;
}

.btn-transparent {
  color: black;
  background-color: transparent;
}
