.button {
  height: 50px;
  width: 100% !important;
  border-radius: 8px !important;
  font-size: 24px;
}

// Primary Button
.btn-pink {
  background-color: $hivie-purple;
  color: white !important;
  height: 50px !important;
  border-radius: 8px !important;
}

// Login on Homepage
.btn-transparent {
  color: $hivie-purple;
  background-color: transparent;
}

// X for the Swipe & Match Show page
.btn-rounded {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  color: $hivie-purple !important;
  border-color: $hivie-purple;
}

.btn {
  font-size: 20px;
  font-weight: 500;
}

#btn-home {
  width: 80% !important;
}

.swipe-button {
  background-color: $hivie-purple;
  justify-content: center;
  color: white !important;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 500;
}
