.button {
  height: 50px;
  width: 100%;
  border-radius: 8px;
  font-size: 24px;
}

// Primary Button
.btn-pink {
  background-color: $hivie-purple;
  color: white;
}

// Login on Homepage
.btn-transparent {
  color: $hivie-purple;
  background-color: transparent;
}

// X for the Swipe
.btn-rounded {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.btn {
  font-size: 24px;
  font-weight: 500;
}

