.card-infos-users {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 1vh;
  width: 100%;
  color: white;
  align-items: center;
}

.card-matching {
  position: relative;
}

.card-infos-users .card-infos-users-age {
  // position: absolute;
}

.card-img-top {
  background: linear-gradient(to top, black, 80%, black) !important;
}
// .regular-progression {

// }

// .gradient-img-match {
//   background-image:
//     linear-gradient(
//       red, #f06d06
//     );
// }
