.card-infos-users {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,-0.8),rgba(0,0,0,0.5));
  padding-top: 30%;
  border-radius: 8px;
}

.ml-2, .mx-2 {
  margin-left: 0rem !important;
}

.card-matching {
  position: relative;
}

// .card-infos-users {
//   // position: absolute;
//   &.card-infos-users-age {

//   }
// }

// .card-img-top {
//   background: linear-gradient(to top, black, 80%, black) !important;
// }

// MATCH LIST CARDS
.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .match-preview {
    flex: 0 0 auto;
  }
}

.bg-img {
  background-size: cover;
  background-position: center;
  height: 400px;
  border-radius: 8px;

  img {
  border-radius: 8px;
  }
}


