.form-control{
  border-radius: 5px;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #f4f4f4;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #f4f4f4;
  border-bottom-color: #EC5A73 !important;
  border-bottom-width: 2px !important;
}


// BELOW: deleted the margins except from the month input of birtday

#user_birthday_2i{
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}

.ml-1, .mx-1 {
    margin-left: 0rem !important;
}

.mr-1, .mx-1 {
    margin-right: 0rem !important;
}

// LOGIN PAGE
.form-login {
  background: white;
  padding: 10px 20px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.form-control:valid:focus, .form-control.is-valid:focus {
  border-bottom-width: 2px !important;
  border-bottom-color: $hivie-pink !important;
}

 .form-control.is-valid:focus {
  box-shadow: 0 0 0 0.2rem #f8f9fa !important;
}

.form-control.is-valid {
  border-color: #f4f4f4 !important;
}
