.pill {
  border: 1px solid #132D7E;
  padding: 6px 24px;
  border-radius: 27px;
  min-width: 60px;
  max-width: 150px;
}

#pill-ghost {
  color: #132D7E;
}

#pill-select {
  color: white;
  background-color: #132D7E;
}
