.btn-pill {
  border: 2px solid $hivie-pink;
  padding: 6px 24px;
  border-radius: 27px;
  max-width: 100%;
  color: $hivie-pink;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  font-size: 16px !important;
  font-weight:bolder !important;


  &.active{
    background-color: $hivie-pink;
    color: white !important;

  }
}
// mb-0 mt-3
  // width: auto !important;


#pill-ghost {
  color: #132D7E;
}

#pill-select {
  color: white;
  background-color: #132D7E;
}

.fa-user,.fa-thumbs-up,.fa-music,.fa-futbol {
  color: $hivie-purple !important;
}
.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0rem #f9f8fa;

}

a.btn.btn-pill:hover {
  color: $hivie-pink !important;
  text-decoration: none;
}

a.btn.btn-pill:hover {

&.active {
  color: white !important;
  text-decoration: none;
  }
}

.accordion > .card > .card-header {
  background-color: #fff;
  border-bottom-color: $hivie-purple !important;
  border-bottom-width: 1.5px !important;
}
.accordion-title {
  font-size: 24px !important;
  font-weight: bold !important;
  color: $hivie-purple !important;
}

.card {
  border:  0.5px solid rgba(0, 0, 0, -0.9);

}
a {
  color: $hivie-pink;
  text-decoration: none;
  background-color: transparent;
}

a:-webkit-any-link {
  color: $hivie-pink;
}
