.btn-pill {
  border: 1px solid #132D7E;
  padding: 6px 24px;
  border-radius: 27px;
  min-width: 60px;
  max-width: 150px;
  color: #122C7E;


  &.active{
    background-color: #132D7E;
    color: white;

  }
}

.btn-hover {
  color: #122C7E !important;
}


#pill-ghost {
  color: #132D7E;
}

#pill-select {
  color: white;
  background-color: #132D7E;
}
.fa-user,.fa-thumbs-up,.fa-music,.fa-futbol {
  color: #122C7E;
}

