// WORK WITH TA TO REFACTOR
// LOGO LARGER
h1 {
  font-size: 100px;
  font-family: Montserrat;
  font-style: bold;
}

// LOGO SMALL (NAVBAR)
h2 {
  font-size: 32px;
  font-family: Montserrat;
  font-style: bold;
}

// Sub-Header Bold
h3 {
  font-size: 24px;
  font-family: Montserrat;
  font-style: bold;
}

// Category Headers Regular
h3 {
  font-size: 24px;
  font-family: Montserrat;
}


h4 {
  font-size: 18px;
  font-family: Montserrat;
}

h5 {
  font-size: 18px;
  font-family: Montserrat;
}

//
p {
  font-size: 16px;
}


